* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes appear {
   0% {
    color: #484747;
   }
   30% {
    letter-spacing: 1.5px;
   }
   85% {
    letter-spacing: 1px;
   }
   99% {
    letter-spacing: 0.2px;
   }
}

body {
    width: 100%;
    min-height: 100%;
    background: linear-gradient(45deg, #f4c5b1, #58a4f0);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    font-family: 'Arial', sans-serif;
}

.direct {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#ctrIcon {
    position: static;
    z-index: 10;
    border-radius: 35%;
    background-color: red;
    color: #ffffffe4;
    outline: 3px solid;
    box-shadow: 4px 4px 8px 3px rgba(226, 226, 217, 0.975);
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1.5em;
    transition: background-color 0.3s ease;
}
#ctrIcon:hover {
    background-color: rgb(199, 13, 13);
}
#ctrIcon:active {
    background-color: #dedede;
}

.young {
    font-size: 2.2rem;
    color: #484747;
    text-shadow: 3px 3px 3px #787878;
    width: 80%;
    margin-top: 1.5em;
    font-family: 'Brush Script MT', cursive;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-family: 'Brush Script MT', cursive;
    font-variant: small-caps;
    background: -webkit-linear-gradient(0deg, rgba(255, 0, 1) 10%, rgba(78, 34, 189, 1) 59%, rgba(229, 153, 46, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    padding: 20px 40px;
    z-index: 10000;
}
header.sticky {
    padding: 10px 40px;
    background: #ffffff5f;
}

#invisible {
    display: none;
    color: #484747;
    text-shadow: 3px 3px 3px #787878;
    font-size: 1.25rem;
    font-family: 'Audiowide';
    position: relative;
    animation: appear 2s 1;
}

.wish1, .wish2 {
    width: 80%;
    margin-top: 2em;
}

#reveal {
    color: #484747;
    padding: 1em;
    border: 2px dotted rgb(40, 40, 40);
    background-color: rgba(226, 226, 217, 0.975);
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    transition: transform 1s ease, background-color 0.3s ease;
}
#reveal:hover {
    color: #000;
    background-color: rgba(187, 187, 187, 0.975);
}
#reveal:active {
    transform: scale(1);
}

.calendar, .age {
    width: 80%;
    height: auto;
    background: rgba(226, 226, 217, 0.975);
    box-shadow: 4px 4px 8px 1px #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-top: 2em;
}

footer a:link, a:visited {
    background-color: rgba(226, 226, 217, 0.975);
    border-radius: 30px;
    margin: 2em 0;
    font-size: 1.25rem;
    font-weight: bolder;
    color: rgb(30, 30, 30);
    padding: 0.75em 1.5em;