*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
}
body {
    width: 100%;
    min-height:100vh;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.border {
    padding: 30px;
    border-radius:30px;
    box-shadow: 0 0  8px 8px #999898;
}
.direct {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.young {
    font-size: 25px;
    color:#484747;
    text-shadow: 3px 3px 3px #ababab;
    width:400px;
    font-family: "Audiowide";
    margin-top:20px;
    font-family: 'Brush Script MT', cursive;
}
.wish {
    font-size: 55px;
    font-family: 'Brush Script MT', cursive;
    font-variant: small-caps;
    background: -webkit-linear-gradient(0deg,  rgba(255,0,1 ) 10%,rgba(78, 34, 189, 1) 59%, rgba(229,153,46,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}
.wish1, .wish2, .wish3 {
    color:#484747;
    text-shadow: 3px 3px 3px #ababab;
    width:400px;
    font-family: "Audiowide";
    margin-top:20px;
    background-image: url('C:/Users/sande/Desktop/MySpace/MyProgramSpcae/Birthday/shabby-paper.png');
    background-size:cover;
}
.calendar {
    width: 200px;
    height: 200px;
    background: #fff;
    box-shadow: 4px 4px  8px 1px #555555;
    display: flex;
    border-radius: 30px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.left, .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    line-height: 1.8;
    font-weight: bold;
    
}
.right {
    width: 70%;
    background: red;
    color:#fff;
    text-shadow: 3px 3px 3px #9d1616;
    border-top-right-radius: 30px;
    border-bottom-right-radius:30px;
}
.left {
    width: 100%;
    color:#4d4c4c;
    text-shadow: 3px 3px 3px #ababab;
}
.age {
    width: 200px;
    height: 200px;
    background: #fff;
    box-shadow: 4px 4px  8px 1px #555555;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.right1 {
    color:#4d4c4c;
    font-size: 35px;
    line-height: 1.5;
    font-weight: bold;
    text-shadow: 3px 3px 3px #ababab;
}